html, body {
    margin: 0;
    padding: 0;
}
nav {
    padding-top: 7px;
    width: 100%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav img {
    width: 240px;
    height: auto;
}
nav p {
    padding: 0;
    margin: 0;
}
nav div a {
    font-weight: bold;
    font-size: 18px;
}
nav .cred {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
    top: 5px;
    gap: 5px;
}

nav .cred form input[type="submit"] {
    width: 100px;
    padding: 5px 5px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease;
}

hr {
    width: 100%;
    height: 4px;
    background-color: rgb(127, 182, 235);
    border: none;
    border-top: 2px solid rgb(86, 172, 252);
    border-bottom: 2px solid rgb(112, 145, 177);
    padding: 0;
    margin: 0;
}

.has-patterned-background {
    background-color: #e5e5f7;
    background-image:  linear-gradient(antiquewhite 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(antiquewhite 1px, transparent 1px), linear-gradient(90deg, white 1px, antiquewhite 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

article {
    margin-left: 15px;
}

h1 {
    margin: 5px;
    text-decoration: underline dotted;
}

h2 {
    margin: 5px;
    margin-left: 15px;
    color: rgb(0, 102, 255)
}

.divisions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

section h1 {
    text-align: center;
}

.division {
    max-width: 550px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(235, 216, 191);
}

.division a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.division a:hover {
    color: rgb(0, 102, 255);
    background-color: rgb(235, 208, 173);
}

.division a article img {
    width: 170px;
    height: 215px;
    object-fit: cover;
    float: left;
    padding-right: 10px;
    padding-bottom: 0;
}
.division a article h2 {
    text-align: center
}

#login-register {
   display: flex;
   justify-content: center;
   align-items: center;
}